u.column {
    height: 100%;
}

#left {
    width: 30%;
    float: left;
    background-color: red;
}
#right {
    width: 70%;
    float: right;
    background-color: blue;
}

.button {
    width: 120px;
    height: 50px;
    margin: 5%;
}

#canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH; */
}

#player {
    width: 1080px;
    height: 920px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


body {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
